{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
ویرایش ادرس
{% endblock %}
{% block content %}
<div class="container rtl">
    <div class="cs_height_45 cs_height_lg_45"></div>
    <ol class="breadcrumb cs_fs_18 mb-0">
    <li class="breadcrumb-item"><a href="{% url 'home:main' %}">خانه/</a></li>
    <li class="breadcrumb-item"><a href="{% url 'account:profile' %}">حساب من/</a></li>
    <li class="breadcrumb-item active">آدرس</li>
    </ol>
    <div class="cs_height_30 cs_height_lg_30"></div>
</div>
<div class="container rtl">
    <div class="cs_account_wrap">
    <div class="cs_account_nav cs_radius_10">
          <div class="cs_account_avatar">
            <img src="{{ request.user.image.url }}" alt="">
            <h3 class=""><span>سلام,</span> <br>{{request.user.Full_name}}</h3>
          </div>
          <ul class="cs_account_nav_list cs_mp_0">
            <li class="{% if request.resolver_match.url_name == 'profile'%}active{% endif %}">
              <a href="{% url 'account:profile' %}"><span>داشبورد</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'orderlist'%}active{% endif %}">
              <a href="{% url 'account:orderlist' %}"><span>سفارشات</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'address'%}active{% endif %}">
              <a href="{% url 'account:address' %}"><span>آدرس</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'edit_profile'%}active{% endif %}">
              <a href="{% url 'account:edit_profile' %}"><span>جزئیات حساب</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'whishlist'%}active{% endif %}">
              <a href="{% url 'account:whishlist' %}"><span> علاقه مندی ها</span></a>
            </li>
            {% if request.user.is_admin == True %}
            <li class="{% if request.resolver_match.url_name == 'admin_order'%}active{% endif %}">
              <a href="{% url 'account:admin_order' %}"><span> لیست سفارشات</span></a>
            </li>
            {% endif %}
            <li>
              <a href="{% url 'account:logout' %}"><span>خروج از سیستم</span></a>
            </li>
          </ul>
        </div>
    <div class="cs_account_content">
        <div class="cs_account_card cs_radius_10">
        <div class="cs_account_card_head cs_type_1">
            <h3 class="cs_fs_18 mb-0">آدرس حمل و نقل</h3>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            {% for error in form.errors.phone %}
                <p class="alert alert-danger">{{error}}</p>
            {% endfor %}
            <div class="cs_plr_25">
            <hr>
            <div class="cs_height_25 cs_height_lg_25"></div>
            <div class="row cs_gap_y_20">
            <div class="col-lg-6">
                <label class="cs_medium">نام <span>*</span></label>
                {{form.fullname|attr:"class:cs_form_field"}}
            </div>
            </div>
            <div class="cs_height_20 cs_height_lg_20"></div>
            <div class="row cs_gap_y_20">
            <div class="col-lg-6">
                <label class="cs_medium">تلفن <span>*</span></label>
                {{form.phone|attr:"class:cs_form_field"}}
            </div>
            <div class="col-lg-6">
                <label class="cs_medium">آدرس ایمیل <span>*</span></label>
                {{form.email|attr:"class:cs_form_field"}}
            </div>
            </div>
            <div class="cs_height_20 cs_height_lg_20"></div>
            <div>
            <label class="cs_medium">کشور/ منطقه  <span>*</span></label>
            {{form.country|attr:"class:cs_form_field"}}
            <div class="cs_height_20 cs_height_lg_20"></div>
            </div>
            <div>
            <label class="cs_medium">محل سکونت <span>*</span></label>
            {{form.address|attr:"class:cs_form_field"}}
            <div class="cs_height_20 cs_height_lg_20"></div>
            </div>
            <div>
            <label class="cs_medium">شهر / شهرستان <span>*</span></label>
            {{form.city|attr:"class:cs_form_field"}}
            <div class="cs_height_20 cs_height_lg_20"></div>
            </div>
            <div>
            <label class="cs_medium">استان <span>*</span></label>
            {{form.province|attr:"class:cs_form_field"}}
            <div class="cs_height_20 cs_height_lg_20"></div>
            </div>
            <div>
            <label class="cs_medium">کد پستی <span>*</span></label>
            {{form.postal_code|attr:"class:cs_form_field"}}
            <div class="cs_height_20 cs_height_lg_20"></div>
            </div>
            <div>
            <div class="cs_height_10 cs_height_lg_10"></div>
            <button type="submit" class="cs_btn cs_style_1 cs_type_1"><span>ثبت ادرس </span></button>
            </div>
            <div class="cs_height_30 cs_height_lg_30"></div>
        </div>
        </form>
        </div>
    </div>
    </div>
</div>
<div class="cs_height_120 cs_height_lg_70"></div>
{% endblock %}