{% extends 'base.html' %}
{% load static %}
{% block title %}
جزییات سفارش
{% endblock %}
{% block content %}
<div class="container rtl">
    <div class="cs_height_45 cs_height_lg_45"></div>
    <ol class="breadcrumb cs_fs_18 mb-0">
    <li class="breadcrumb-item"><a href="{% url 'home:main' %}">خانه/</a></li>
    <li class="breadcrumb-item"><a href="{% url 'account:profile'  %}">حساب من/</a></li>
    <li class="breadcrumb-item active">جزئیات سفارش</li>
    </ol>
    <div class="cs_height_30 cs_height_lg_30"></div>
</div>
<div class="container rtl">
    <div class="cs_account_wrap">
    <div class="cs_account_nav cs_radius_10">
          <div class="cs_account_avatar">
            <img src="{{ request.user.image.url }}" alt="">
            <h3 class=""><span>سلام,</span> <br>{{request.user.Full_name}}</h3>
          </div>
          <ul class="cs_account_nav_list cs_mp_0">
            <li class="{% if request.resolver_match.url_name == 'profile'%}active{% endif %}">
              <a href="{% url 'account:profile' %}"><span>داشبورد</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'orderlist'%}active{% endif %}">
              <a href="{% url 'account:orderlist' %}"><span>سفارشات</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'address'%}active{% endif %}">
              <a href="{% url 'account:address' %}"><span>آدرس</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'edit_profile'%}active{% endif %}">
              <a href="{% url 'account:edit_profile' %}"><span>جزئیات حساب</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'whishlist'%}active{% endif %}">
              <a href="{% url 'account:whishlist' %}"><span> علاقه مندی ها</span></a>
            </li>
            {% if request.user.is_admin == True %}
            <li class="{% if request.resolver_match.url_name == 'admin_order'%}active{% endif %}">
              <a href="{% url 'account:admin_order' %}"><span> لیست سفارشات</span></a>
            </li>
            {% endif %}
            <li>
              <a href="{% url 'account:logout' %}"><span>خروج از سیستم</span></a>
            </li>
          </ul>
        </div>
    <div class="cs_account_content">
        <div class="cs_account_card cs_radius_10">
        <div class="cs_account_card_head cs_type_1">
            <h3 class="cs_fs_18 mb-0">شناسه سفارش: #{{order.id}}</h3>
            {% if order.status %}
                      <td class="cs_accent_color">تایید</td>
                      {% else %}
                      <td class="cs_accent_color">در انتظار</td>
            {% endif %}
        </div>
        <div class="cs_plr_25" id="download-area1">
            <ul class="cs_card_price_list cs_mp_0">
            <li class="cs_card_price_list_seperator_head cs_primary_color">
              <span class="cs_medium"> کاربر</span>
                <span class="cs_medium">موارد</span>
                <span class="cs_medium">قیمت</span>
                <span class="cs_medium">تعداد</span>
                <span class="cs_medium">رنگ</span>
                <span class="cs_medium">حجم</span>
                <span class="cs_medium">سایز</span>
                <span class="cs_medium">وضعیت</span>
            </li>
            {% for x in order.items.all %}
            <li>
                <span class="cs_light"> {{order.user.phone}}</span>
                <span class="cs_light"> {{x.product.title}}</span>
                <span class="cs_light">{{x.product.price}}تومان</span>
                <span class="cs_light">{{x.quantity}}</span>
                <span class="cs_light">{{x.color}}</span>
                <span class="cs_light">{{x.value}}</span>
                <span class="cs_light">{{x.size}}</span>
                {% if order.is_pay %}
                <span class="cs_light">پرداخت شده</span>
                {% else %}
                <span class="cs_light">پرداخت نشده</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            <div class="cs_delivery_address">
            <div>
                <b>آدرس تحویل:</b>
                نام: {{order.addresses.fullname}} <br>
                شماره: {{order.addresses.phone}} <br>
                آدرس: {{order.addresses.address}}
            </div>
            <div class="text-end">
                {% if order.addresses %}
                <p>در حال ارسال</p>
                {% else %}
                <a href="{% url 'cart:order_detail' order.pk %}">ادامه پرداخت
                </a>
                {% endif %}
            </div>
            </div>
        </div>
        </div>
        <button onclick="downloadSection()" class="btn btn-primary">📄پرینت</button>
    </div>
    </div>
</div>
<div class="cs_height_120 cs_height_lg_70"></div>
{% endblock %}